#introduction {
    color: aquamarine;
    background-color: blueviolet;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  

  #my-hair-color {
    color: magenta;
    background-color: lawngreen;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  #my-number-of-siblings{
    color:palegreen;
    background-color: olive;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }

  #my-favourite-food {
    color: indianred;
    background-color: blueviolet;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  #my-favourite-color{
    color:darkblue;
    background-color: saddlebrown;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }

  

  